{% for agent in data.endpointAgents %}
Agent ID: {{ agent.agentId }}
Agent Name: {{ agent.agentName }}
Agent Type: {{ agent.agentType }}
Computer Name: {{ agent.computerName }}
Created Time: {{ agent.createdTime }}
Last Seen: {{ agent.lastSeen }}
Manufacturer: {{ agent.manufacturer }}
Model: {{ agent.model }}
OS Version: {{ agent.osVersion }}
Public IP: {{ agent.publicIP }}
Status: {{ agent.status }}
Total Memory: {{ agent.totalMemory }} MB
Version: {{ agent.version }}
Network Interfaces:
{% for interface in agent.networkInterfaceProfiles %}
    Interface Name: {{ interface.interfaceName }}
    Hardware Type: {{ interface.hardwareType }}
    Address Profiles:
    {% for address in interface.addressProfiles %}
        IP Address: {{ address.ipAddress }}
        Address Type: {{ address.addressType }}
        Prefix Length: {{ address.prefixLength }}
    {% endfor %}
{% endfor %}
-----------------------------
{% endfor %}